<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>
                All Quizes
            </h1>
            <div class="card mb-3" *ngFor="let quiz of allQuizes | keyvalue">
                <div class="card-body">
                    {{ quiz.value.title }}
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary me-2" routerLink="/quiz/{{ quiz.key }}">
                        Go To Quiz
                    </a>
                    <a class="btn btn-secondary" routerLink="/quiz/{{ quiz.key }}/edit">
                        Edit Quiz
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
