/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

$color-red: #f42e35;
$color-grey: #3c3c3c;
$color-black: #151515;

body {
    color: $color-black;
}

.text {
   &-red {
       color: $color-red;
    }
    &-grey {
        color: $color-grey; 
    }
    &-black {
        color: $color-black;
    }
}

// .text-red {
//     $color-red: #f42e35;
// }

// .text-grey {
//     $color-grey: #3c3c3c;
// }

// .text-black {
//     $color-black: #151515;
// }

.quiz {
    min-height: 100vh;
    background-image: url('./assets/img/qbg.jpeg');
    background-size: cover;
    background-position: center center;

    .quiz-wrapper {
        padding: 90px 30px;
    }

}

.quiz-title {
    &_subtitle {
        color: $color-red;
    }

    &_description {
        font-weight: 500;
    }
}

.quiz-answer {
    cursor: pointer;
    &_number {
        font-size: 30px;
        width: 50px;
        border: 1px solid $color-grey;
        text-align: center;
        margin-right: 40px;
        background: $white;
        font-weight: 700;
    }
    &_text {
        font-size: 23px;
        font-weight: 600;
        color: $color-grey;
    }
    &.selected {
        .quiz-answer_text {
            color: $white;
        }
        .card {
            background: $color-red;
        }
    }
}