/* Importing Datepicker SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

@import "variables";

body {
    /* Nustatome pagrindine teksto spalva visai svetainei */
    color: $color-black;
  }
  
  .text {
  
    // Sugeneruojama: .text-red
    &-red {
      color: $color-red;
    }
  
    // Sugeneruojama: .text-gray
    &-gray {
      color: $color-gray;
    }
  
    // Sugeneruojama: .text-black
    &-black {
      color: $color-black;
    }
  }